events {
    worker_connections 1024;
}

http {
    upstream backend {
        server ${BACKEND_HOST}:${BACKEND_PORT};
    }

    upstream frontend {
        server ${FRONTEND_HOST}:${FRONTEND_PORT};
    }

    server {
        listen ${PROXY_PORT};

        location /api/ {
            proxy_pass http://backend/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location / {
            proxy_pass http://frontend/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}
