[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    node_modules,
    dist,
    build,
    .pytest_cache,
    .mypy_cache,
    htmlcov,
    migrations,
    alembic,
    test_files_archive,
    unneed,
    unneeded,
    database_archive,
    github
ignore = 
    E203,
    E266,
    W503,
    W504,
    E501,
    F401,
    F403,
    F405,
    E402,
    E265,
    W291,
    W293,
    W391,
    F541,
    E127,
    E128,
    E226,
    E261,
    E301,
    E302,
    E305,
    E401,
    E701,
    E712,
    E722,
    E731,
    E741,
    C901,
    F811,
    F841
per-file-ignores =
    __init__.py:F401,F403
    **/test_*.py:F811,F841
    **/tests/*.py:F811,F841
    **/scripts/*.py:F841
max-complexity = 50
statistics = True
