torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
transformers==4.38.2
datasets==2.18.0
accelerate==0.27.2
peft==0.9.0
bitsandbytes==0.42.0
mlflow==3.9.0
evidently==0.7.17
cleanlab==2.6.1
optuna==3.5.0
scikit-learn==1.4.1.post1
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
tqdm==4.66.2
python-dotenv==1.0.1
loguru==0.7.2
